<img src="../../static/images/Ellipse 1.svg">
<ul>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
    <li>
        <button></button>
    </li>
</ul>
<button>
    <img src="../../static/images/trash.svg" alt="Delete track">
</button>
