<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head') -%>
    </head>
    
    <body class="<%= fs.existsSync("views/"+view+".ejs") ? (typeof bodyClass == 'undefined' ? '' : bodyClass) : 'error' %>">
        
        <% if ( fs.existsSync("views/"+view+".ejs") ) { %>
            <%- include (view) -%>
        <% } else { %>

            <%- include ('blanco', { 'partial': './partials/message', 'messageTitle': 'Oops!', 'messageSubTitle': 'Template does not exists...'}) -%>
        <% } %>

    </body>
</html>